- provide(:title, "Developer")
- require 'kramdown/converter/html'
- if !@user.nil? #&& @user.user_role == 'admin'# user is admin only  
  = Kramdown::Document.new(render('static_pages/versions')).to_html.html_safe
  = Kramdown::Document.new(render('static_pages/deploy')).to_html.html_safe
  = Kramdown::Document.new(render('static_pages/tomcat')).to_html.html_safe