- provide(:title, "Como Usar RucPoc")
= image_tag(asset_path("deudores_instructions.png"))


%h1 Como Usar RucPoc
  
%p 
  %strong
    Nota: 
  RucPoc requiere que el usuario este inscrito y logged in. 
  %br
  El browser se recordara de la persona por dos dias asi que por favor haga logout si comparte la computadora.
%p
  Para buscar a un deudor use el menú de arriba.
%p
  Para ver las facturas de deudor selecionelo.

%br
%hr
= image_tag(asset_path("listadodedeudores.png"))
%hr
= image_tag(asset_path("detallesdelafactura.png"))

%p
  Nota: En Windows el browser Chrome (32-bit) y Opera pueden tener problema con los fonts de la página. En ese caso favor bajar Chrome-64 bits, que no tiene el problema. 
