- provide(:title, "Cuentas Por Cobrar")
%div{ :class => 'center hero-unit'}
  %h1 Bienvenido a Rukh
  
  %h3
    Registro de Cuentas por Cobrar
    
  %h2 
    Esta es la página home.
    
  -if current_user.blank?
    %a{:href => new_user_session_path, :class => "btn btn-large btn-primary"}
      Log in
  -else
    = link_to "Log out", destroy_user_session_path, method: "delete", :class => "btn btn-large btn-default"
:coffee
  if navigator.userAgent.indexOf('compatible') > -1
    alert "Tiene el modulo de compatibilidad prendido en IE, la navegación no funciona. Por favor apage el modulo."
