- provide(:title, "Cuentas Por Cobrar")
%div{ :class => 'center hero-unit'}
  %h1 Bienvenido a Rukh
  
  %h3
    Registro de Cuentas por Cobrar
    
  %h2 
    Esta es la página home.
    
  %a{:href => new_user_session_path, :class => "btn btn-large btn-primary"}
    Log in
  