-#coding: utf-8
- provide(:title, "Crear Record de Deudor")
%h1 Crear Record de Deudor Nuevo
.row
  -if @debtor.errors.any?
    %p
      Problemas con:
    - @debtor.errors.full_messages.each do |msg|
      %li{:class => "alert alert-error"}
        = msg
  /
  %div{:class => "span6 offset3"}
    =form_for(@debtor) do |f|
      -# Is this partial below duplicating errors?
      =# render partial: 'layouts/error_messages', :locals => { :object => f.object }
      =f.label :name, "Nombre"
      =f.text_field :name
      =f.label :email, "Email"
      =f.email_field :email
      =f.label :tel, "Teléfono"
      =f.telephone_field :tel, placeholder: 'ex. 787-555-1234'
      =f.label :ext, "Extención"
      =f.telephone_field :ext
      =f.label :address, "Dirección Postal"
      =f.text_field :address
      =f.label :location, "Dirección Física"
      =f.text_field :location
      =f.label :contact_person, "Persona Contácto"
      =f.text_field :contact_person
      =f.label :contact_person_email, "Email de la Persona Contácto"
      =f.email_field :contact_person_email
      =f.label :employer_id_number, "Numbero de SS Patronal"
      =f.text_field :employer_id_number, placeholder: 'ex. 12-1234567'
      =f.label :ss_hex_digest, "Numbero de SS Personal"
      =f.text_field :ss_hex_digest, placeholder: 'ex. 123-12-1234'
      =f.submit "Crear Record de Deudor Nuevo", class: "btn btn-large btn-primary"
  /end  
-if false #TODO #@user.user_roles.developer
  / .row
  /   %a{:href => "#{'url_for import_path'}", :class => "btn btn-large btn-info"}
  /     Importar CSV (todavia)