- provide(:title, "Crear Record de Deudor")
%h1.col-md-offset-2 Crear Record de Deudor Nuevo
.row
  -if @debtor.errors.any?
    %p.col-md-8.col-md-offset-2
      %strong
        Problemas con:
    - @debtor.errors.full_messages.each do |msg|
      %li{:class => "alert alert-danger col-md-8 col-md-offset-2"}
        = msg
  /
  %div{:class => "col-md-8 col-md-offset-2"}
    =form_for(@debtor) do |f|
      -# Is this partial below duplicating errors?
      =# render partial: 'layouts/error_messages', :locals => { :object => f.object }
      =f.label :name, "Nombre"
      =f.text_field :name, class: 'form-control'
      =f.label :email, "Email"
      =f.email_field :email, class: 'form-control'
      =f.label :tel, "Teléfono"
      =f.telephone_field :tel, class: 'form-control', placeholder: 'ex. 787-555-1234'
      =f.label :ext, "Extención"
      =f.text_field :ext, class: 'form-control'
      =f.label :address, "Dirección Postal"
      =f.text_field :address, class: 'form-control'
      =f.label :location, "Dirección Física"
      =f.text_field :location, class: 'form-control'
      =f.label :contact_person, "Persona Contácto"
      =f.text_field :contact_person, class: 'form-control'
      =f.label :contact_person_email, "Email de la Persona Contácto"
      =f.email_field :contact_person_email, class: 'form-control'
      =f.label :employer_id_number, "Numbero de SS Patronal"
      =f.text_field :employer_id_number, class: 'form-control', placeholder: 'ex. 12-1234567'
      =f.label :ss_hex_digest, "Numbero de SS Personal"
      =f.text_field :ss_hex_digest, class: 'form-control', placeholder: 'ex. 123-12-1234'
      %br
      .btn-group
        =f.submit "Crear Record de Deudor Nuevo", class: "btn btn-large btn-primary"
  /end  
-if false #TODO #@user.user_roles.developer
  / .row
  /   %a{:href => "#{'url_for import_path'}", :class => "btn btn-large btn-info"}
  /     Importar CSV (todavia)