-#coding: utf-8
- provide(:title, "Facturas")
%h1 Facturas:
.row
  %aside.span6
    %section
      %h3
        Archivos de todas las facturas:
      %a{:href => "#{url_for debts_path(format: 'xls')}", :class => "btn btn-info"}
        Bajar datos en Excel
      %a{:href => "#{url_for debts_path(format: 'csv')}", :class => "btn btn-info"}
        Bajar datas en CSV
.row
  %aside.span6
    %section
      %h3
        Listado:
      /Use a table here
      %table{:class => "table table-bordered table-striped table-hover table-condensed"}
        %th{:class => "table-header" } 
          ID
        %th
          Cantidad
        %th
          Fecha
        %th
          Nombre  
        -@debts_all.each do |debt_item|
          = render partial: 'list_all_debts', :locals => { :debt => debt_item }
        = will_paginate(@debts_all)
        /
          
