- provide(:title, @import_title)
%h1 
  Importar CSV
%h2
  Un file CSV puede ser usado para importar records. 
%p
  :markdown 
    La primera fila deben ser los nombre de la columnas de la base de datos. 
    ([Exporte](/debts)  a un CSV para ver cuales son.)  
    /
.container-fluid
  .col-md-8
    %div
      = form_tag import_path, multipart: true do
        = file_field_tag :file, class: 'input-group'
        %p
          .col-xs-6{style: 'margin-top: 15px'}
            = submit_tag "Importar", class: 'btn'
%hr    